
code.error_snippet {
  background-color: #cccccc;
	display: block;
	white-space: pre;
}

span.error_code {
  background-color: #ffcccc;
}

span.next_apply {
  border-width: 1px;
  border-style: solid;
  border-color: red;
}